QTFormApp/.qtc_clangd/
QTFormApp/debug/
QTFormApp/release/
build-QTFormApp-Desktop_Qt_6_3_0_MinGW_64_bit-Debug/
QTFormApp/QTFormApp.pro.user.478fd3b
build-QTFormApp-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/
build-QTFormApp-Desktop_Qt_6_3_1_MinGW_64_bit-Release/
QTFormApp/QTFormApp.pro.user.903555a
/build-QTFormApp-Desktop_Qt_6_3_1_GCC_64bit-Debug
build-QTFormApp-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/
